<h1 class="display-5 text-center">{{title}}</h1>
<h3 class="text-center">{{description}}</h3>
<br>
<a class="btn btn-danger" href="#" onClick="history.go(-1)">Volver</a>
<br>
<br>
<div class="cont-gral">   
    
        <div class="cont-img">
            <img src="{{thumbnails.[0]}}" alt="img_product" width="500"> <br>
        </div>
        <div class="cont-data"> 
            <strong>Precio </strong>${{price}}.- <br>
            <strong>Código</strong> {{code}} <br>
            <strong>Stock</strong> {{stock}} <br>
            <strong>Categoría</strong> {{category}} <br>
            <br>
            <a class="btn btn-success" href="">Agregar al carrito</a>
        </div>
        
        

</div>




