<p class="fs-4">Productos disponibles</p>
<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th scope="col"><strong>Producto</strong></th>
            <th scope="col" class="d-none d-sm-table-cell"><strong>Descripción</strong></th>
            <th scope="col"><strong>Precio</strong></th>
            <th scope="col" class="d-none d-sm-table-cell"><strong>Código</strong></th>
            <th scope="col" class="d-none d-sm-table-cell"><strong>Stock</strong></th>
            <th scope="col" class="d-none d-sm-table-cell"><strong>Categoría</strong></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {{#each products.payload}}
        <tr>
           
       
            <th scope="row" align="center"> <a href="/views/products/{{this._id}}" style="text-decoration: none; color: white"><img class="rounded" src="{{thumbnails.[0]}}" alt="img_product" style="width: 100px;height: 100px; object-fit:cover"> <br>{{this.title}}</a></th>
            <td class="d-none d-sm-table-cell">{{this.description}}</td>
            <td>{{this.price}}</td>
            <td class="d-none d-sm-table-cell">{{this.code}}</td>
            <td class="d-none d-sm-table-cell">{{this.stock}}</td>
            <td class="d-none d-sm-table-cell">{{this.category}}</td>
            <td><button class="btn btn-success" type="button" name="addToCart" id="{{this._id}}">Agregar al carrito</button></td>
        
            
        </tr>
    {{/each}}  
    </tbody>
</table>
{{#if products.hasPrevPage}}
    <a class="btn btn-danger" href="{{products.prevLink}}">Página Anterior</a>
{{/if}}
{{#if products.hasNextPage}}
    <a class="btn btn-success" href="{{products.nextLink}}">Página Siguiente</a>
{{/if}}
<br>
<br>
<script src="/js/product-buttons.js"></script>